@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Big+Shoulders+Display:wght@300&family=DM+Sans:ital,opsz,wght@1,9..40,200&family=Epilogue&family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@200&family=Inter:wght@200&family=Josefin+Sans:wght@200;300&family=Kumbh+Sans:wght@300;400&family=League+Spartan&family=Lexend+Deca:wght@300;400&family=Libre+Franklin:wght@200&family=Open+Sans&family=Outfit:wght@200&family=Overpass:wght@600&family=Plus+Jakarta+Sans:wght@200&family=Poppins:wght@200;300&family=Red+Hat+Display&family=Roboto:wght@300&family=Rubik:wght@300&family=Space+Mono:wght@700&family=Ubuntu:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background-color: #0d0525;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.left_box,
.right_box {
  border: 1px dotted #fff;
  width: 200px;
  height: 250px;
}
.list {
  background-color: #ff0058;
  padding: 0.7rem 0.3rem;
  margin: 1.1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: grab;
}
.list img {
  width: 0.6rem;
}
